$black: #3D463F;
$gray: #878C88;
// $white: #fefefe;
$white: #7d7b7b;
$green: #72D687;
$flintRed: #FB3F48;
$flintRedDarker: #CE2F37;

$ig-black: #000 !default;
$ig-white: #fff !default;
$ig-background-black: rgba(0, 0, 0, .8) !default;

$icon-size: 20px;

$color-hover: saturate(lighten($flintRed, 10%), 20%);
$color-active: desaturate(darken($flintRed, 20%), 20%);

// $color-hover: desaturate(darken($flintRed, 20%), 10%);
// $color-active: fade-out($color-hover, 0.5);

$type-col-width: 25%;
$priority-col-width: 15%;
$active-col-width: 20%;
$status-col-width: 28%;
$posts-col-width: 12%;

.App {

}

.App-header {
  background-color: #222;
  height: 6vh;
  // margin: 10px;
  color: white;

  .Nav {
    float: right;
    width: 30vw;
    margin: 10px;
    text-align: right;

    a {
      color: $white;
      padding-right: 10px;
    }
  }
}

.App-title {
  font-size: 1.5em;
  font-family: "fgcm", "Helvetica", sans-serif;
  /*color: #fb3f48;*/
  color: $white;
  font-size: 2rem;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  left: 20px;
}

.App-intro {
  font-size: large;
}

.Map {
  position: absolute;
  width: 100%;
  top: 6vh;
  height: 80vh;
/*  bottom: 0;*/
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

////////////////////////////////
//////// CONTROL BOARD /////////
////////////////////////////////

.Board {
  position: relative;
  height: 80vh;
  min-width: 330px;
  width: 360px;
  overflow-y: scroll;
  background-color: rgba(24, 24, 24, 0.8);
  color: $ig-white;
  /* top: 50px; */
  font-size: 0.8em;
  display: flex; 
  // height: 100%;
  flex-direction: column;

  .boardDescription {
    background: rgba(0, 0, 0, 0.8);
    color: $ig-white;
    padding: 10px;
    font-family: fgcl;
    font-size: 1rem;
  }

  .boardContent {
    width: 100%;
    flex: 1;
    overflow: auto
  }

  .boardColumn {
    padding: 0px 10px;
  }

  .boardHeader {
    padding: 5px 0px;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgba(24, 24, 24, 1.0);
  }

  .boardColumn-type {
    width: $type-col-width;
    display: flex;
    // flex: 100 0 auto;
  }

  .boardColumn-priority {
    width: $priority-col-width;
    display: flex;
    // flex: 100 0 auto;
  }

  .boardColumn-activeTime {
    width: $active-col-width;
    display: flex;
    // flex: 100 0 auto;
  }

  .boardColumn-status {
    width: $status-col-width;
    display: flex;
    // flex: 100 0 auto;
  }

  .boardColumn-expander {
    width: $posts-col-width;
    display: flex;
    // flex: 100 0 auto;
  }

  .boardRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    width: 100%;
    // align-items: center;
  }

  .highlight {
    background: rgba(0,0,0,0.05);
    cursor: pointer;
  }

  .boardWrapper:nth-child(even) {
    background: #616161;//#ccc;
  }

  .boardWrapper:nth-child(odd) {
    background: #444; //#fff;
  }

  .boardRow-type {
    width: $type-col-width;
    display: flex;
  }

  .boardRow-priority {
    width: $priority-col-width;
    display: flex;
  }

  .boardRow-activeTime {
    width: $active-col-width;
    display: flex;
  }

  .boardRow-status {
    width: $status-col-width;
    display: flex;
  }

  .boardRow-expander {
    width: $posts-col-width;
    display: flex;

    span {
      width: 30px;
      display: inline-block;
    }
  }

  .boardRow-openIncident {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    // color: red;
    display: flex;
    overflow: hidden;
    transition: height 0.2s;
  }

  .boardRow-openIncident-open {
    /* need a height value for animation to happen 
      for now, automatic sizing is more important
      height: 70px;
    */

    height: auto;
  }

  .bogus-padding {
    padding: 10px;
    // width: 100%;
  }

  .postCommentWrapper {
    padding: 10px;
  }

  .postComment {
    padding-top: 5px;
  }


}

////////////////////////////////
////////// TIMELINE ////////////
////////////////////////////////

.timeOutput {
  padding: 5px;
  color: $white;
  font-size: 1em;
  font-family: courier, monospace;
  position: absolute;
  top: 0;
  left: 0;
}

.Timeline {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.PlaybackControls {
  position: absolute;
  bottom: -4px;
  height: 6vh;
  // float: left;
  width: $icon-size*2;
  padding-left: 10px;
}

.PlayButton,
.PauseButton {
  margin-right: 10px;
  padding: 8px;
  background: $white;
  border: 2px solid $flintRed;
  border-radius: 100%;
  outline: none;

  &[disabled] {
    opacity: 0.5;
  }

  &.isEnabled {
    cursor: pointer;

    &:hover {
      border-color: $color-hover;

      .Icon-shape {
        fill: $color-hover;
      }
    }

    &:active {
      border-color: $color-active;

      .Icon-shape {
        fill: $color-active;
      }
    }
  }
}

.Icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
}

.Icon-shape {
  fill: $flintRed;
}


///////////////////////////////////////
//////////////// SLIDERS //////////////
///////////////////////////////////////

.ProgressBar {
  position: relative;
  background: $white;
  border-radius: 4px;

  &-elapsed,
  &-value {
    background: $gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $flintRed;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        position: absolute;
        background: rgba(0,0,0,0.05);
      }
    }

    .ProgressBar-elapsed {
      background: $flintRed;
    }
  }
}

.ProgressBar {
  height: 8px;
  margin: 18px 5px 19px 60px;

  &-elapsed {
    height: 100%;
  }

  &-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
  }

  &-handle {
    top: 0;
    margin: -4px 0 0 -8px;
  }

  &.isSeekable {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite;
  }
}

///////////////////////////////////////
///////////// GRAPH AREA //////////////
///////////////////////////////////////

.GraphArea {
  margin: 20px 5px -15px 60px;
  height: 8vh;

  .bar {
    fill: $flintRed;
  }
}

///////////////////////////////////////
///////////// LIGHT BOX ///////////////
///////////////////////////////////////

.lightBox-wrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: $ig-background-black;

}

.Gallery {

}
.image-gallery {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-gallery-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 25px 25px 0;
  border-bottom: 25px solid transparent;
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 95vh;
  height: 95vh;
  width: 90vw;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: auto;
  white-space: normal;
}

.image-gallery-slide {
  background: $ig-black;
}

.image-gallery-slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  // appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  color: $ig-white;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  // transform: translateY(-50%);

 // display: none;
    position: absolute;
    // top: 50%;
    // left: 5%;
    // width: 82%;
    text-align: center;
    // font-size: 80px;
    // line-height: 80px;
    // margin-top: -40px;
    // text-shadow: 0 0 5px #fff;
    // color: #fff;
    // font-style: normal;
    // font-weight: 400;

  &[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none;
  }
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery-close {
  font-size: 3rem;
  background: rgba(0,0,0,0.1);
  color: rgba(255, 255, 255, 0.8);
  line-height: 60px;
  width: 60px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  font-family: Arial,sans-serif;
  border: 0;
  padding: 0;

  &:hover {
    background: rgba(0,0,0,0.2);
  }
}

.image-gallery-slides {
  line-height: 0;
  // overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.image-gallery-slide {
  background: $ig-background-black;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .image-gallery-item {
    display: grid;

    .image-wrapper {
      background: $ig-background-black;
      position: relative;
      text-align: left;
      vertical-align: middle;
      display: inline-block;
      overflow: auto;
      // padding: 25px 25px 0;
      // border-bottom: 25px solid transparent;
      // margin-left: 5vw;
      // margin-right: 5vw;
      // max-height: 95vh;
      // height: 95vh;
      // width: 90vw;
      // background: #fff;
      cursor: auto;
      white-space: normal;
      object-fit: contain;

      &.center {
        position: relative;
      }

      img {
        width: 100%;
      }
    }

    .text-wrapper {
      height: 90vh;

      .image-gallery-description {
        background: $ig-background-black;
        bottom: auto;
        top: 25vh;
        position: relative;
        width: 55vw;
        margin: 0 auto;
        color: $ig-white;
        left: 0;
        line-height: 2;
        padding: 10px 20px;
        // position: absolute;
        white-space: normal;
        font-family: AGaramondPro-Regular;
        font-size: 1.8rem;

        // @media (max-width: $ig-screen-sm-min) {
        //   bottom: 45px;
        //   font-size: .8em;
        //   padding: 8px 15px;
        // }
      }
    }

    .link-wrapper {
      // height: 90vh;
      background: $ig-background-black;
        bottom: auto;
        top: 25vh;
        position: relative;
        width: 55vw;
        margin: 0 auto;
        
        left: 0;
        line-height: 2;
        padding: 10px 20px;
        // position: absolute;
        white-space: normal;
        font-family: fgcl;
        font-size: 1.8rem;

        a {
          color: $ig-white;
        }
    }
  }
}

///////////////////////////////////////
//////////// CONTROL PANEL ////////////
///////////////////////////////////////

.ControlPanel {
  width: 30vw;
  min-height: 100px;
  position: relative;
  float: right;
  // background-color: gray;
}

.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: $flintRed;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: $flintRed;
}
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $flintRedDarker;
}
//   .incident-photo-toggle-container {
//     min-width: 150px;
//     width: 20vw;
//     max-width: 200px;
//     height: 50px;
//     line-height: 50px;
//     background-color: #ddd;
//     position: absolute;
//     top: 0%;
//     transform: translate(0%, 0%);
//     left: 0%;
//     background-color: #e8e8e8;
//     // border:1px solid #ccc;
//     overflow: hidden;
//     border-radius: 30px;
//     box-shadow: 0 0 8px rgba(0,0,0,0.1) inset;

//     & label {
//       width: 50%;
//       float: left;
//       background-color: transparent;
//       color: #333;
//       z-index: 2;
//       cursor: pointer;
//     }

//     & input[type="radio"] {
//       display: none;
//     }

//     .button-slider {
//       position:absolute;
//       left: 0%; 
//       top:0;
//       width:50%; 
//       height: 100%;
//       animation-timing-function: ease-in-out;
//       animation-duration:.3s;
//       animation-fill-mode: forwards;
//       transition: 0.2s left .05s ease-in-out;
//       z-index: -1;
//     }

//     .left-button:checked  ~ .button-slider { 
//       left:0;
//       background-color:#FB3F48;
//       box-shadow: 0 0 10px rgba(0,0,0,0.5);
//     }

//     .right-button:checked  ~ .button-slider {
//       left:50%;
//       background-color: #FB3F48;
//       box-shadow: 0 0 10px rgba(0,0,0,0.5);
//     }

//     .left-button:checked ~ label, 
//     .right-button:checked ~ label {
//       font-weight: 700;
//       color: #fff;
//     }
//     .right-button:not(:checked) ~ label {
//       color: #333;
//       font-weight: 400
//     }
//   }
// }


