$black: #3D463F;
$gray: #878C88;
// $white: #fefefe;
$white: #fefefe;//#7d7b7b;
$green: #72D687;
$flintRed: #FB3F48;
$flintRedDarker: #CE2F37;

$ig-black: #000 !default;
$ig-white: #fff !default;
$ig-background-black: rgba(0, 0, 0, .85) !default;

$icon-size: 20px;
$controls-width: 160px;

$color-hover: saturate(lighten($flintRed, 10%), 20%);
$color-active: desaturate(darken($flintRed, 20%), 20%);

// $color-hover: desaturate(darken($flintRed, 20%), 10%);
// $color-active: fade-out($color-hover, 0.5);

$type-col-width: 25%;
$priority-col-width: 15%;
$active-col-width: 20%;
$status-col-width: 28%;
$posts-col-width: 12%;

.visible {
  opacity: 1;
}

.hidden {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.App-header {
  background-color: #222;
  height: 6vh;
  // margin: 10px;
  color: white;

  .Nav {
    float: right;
    width: 30vw;
    margin: 10px;
    text-align: right;

    a {
      color: $white;
      padding-right: 10px;
    }
  }
}

.App-title {
  font-size: 1.5em;
  font-family: "fgcm", "Helvetica", sans-serif;
  /*color: #fb3f48;*/
  color: $white;
  font-size: 2rem;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  left: 20px;
}

.App-intro {
  font-size: large;
}

.Map {
  position: absolute;
  width: 100%;
  top: 6vh;
  // height: 76vh;
  height: 94vh;
/*  bottom: 0;*/
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

////////////////////////////////
//////// CONTROL BOARD /////////
////////////////////////////////

.grossWrapper {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible; 
  }
}

.Board {
  position: relative;
  height: 76vh;
  min-width: 330px;
  width: 345px;
  overflow-y: scroll;
  background-color: rgba(24, 24, 24, 0.8);
  color: $ig-white;
  /* top: 50px; */
  font-size: 0.8em;
  display: flex;
  display: -webkit-flex;
  // height: 100%;
  flex-direction: column;
  z-index: 200;

  .boardDescription {
    background: rgba(0, 0, 0, 0.8);
    color: $ig-white;
    padding: 10px;
    font-family: fgcl;
    font-size: 1rem;
  }

  .boardContent {
    width: 100%;
    flex: 1;
    -webkit-flex: 1;
    overflow: auto
  }

  .boardColumn {
    padding: 0px 10px;
  }

  .boardHeader {
    padding: 5px 0px;
    font-weight: bold;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    align-items: center;
    background-color: rgba(24, 24, 24, 1.0);
  }

  .boardColumn-type {
    width: $type-col-width;
    display: flex;
    display: -webkit-flex;
    // flex: 100 0 auto;
  }

  .boardColumn-priority {
    width: $priority-col-width;
    display: flex;
    display: -webkit-flex;
    // flex: 100 0 auto;
  }

  .boardColumn-activeTime {
    width: $active-col-width;
    display: flex;
    display: -webkit-flex;
    // flex: 100 0 auto;
  }

  .boardColumn-status {
    width: $status-col-width;
    display: flex;
    display: -webkit-flex;
    height: 15px;
    // flex: 100 0 auto;
  }

  .boardColumn-expander {
    width: $posts-col-width;
    display: flex;
    display: -webkit-flex;
    // flex: 100 0 auto;
  }

  .boardRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    // align-items: center;
  }

  .highlight {
    background: rgba(0,0,0,0.05);
    cursor: pointer;
  }

  .boardWrapper {
    height: 35px;
  }

  .boardWrapper:nth-child(even) {
    background: #616161;//#ccc;
  }

  .boardWrapper:nth-child(odd) {
    background: #444; //#fff;
  }

  .boardRow-type {
    width: $type-col-width;
    display: flex;
    display: -webkit-flex;
  }

  .boardRow-priority {
    width: $priority-col-width;
    display: flex;
    display: -webkit-flex;
  }

  .boardRow-activeTime {
    width: $active-col-width;
    display: flex;
    display: -webkit-flex;
  }

  .boardRow-status {
    width: $status-col-width;
    display: flex;
    display: -webkit-flex;
  }

  .boardRow-expander {
    width: $posts-col-width;
    display: flex;
    display: -webkit-flex;

    span {
      width: 30px;
      display: inline-block;
    }

    .badge-wrapper {
      width: 6em;
    }

    .likesBadge {
      font-size: 0.8em;
      display: inline-block;
      // width: 1em;
      position: relative;
      transform: translate(-5px, -13px);
      color: #fff;
      background: rgba(255, 255, 255, 0.1);
      padding: 2px;
      border-radius: 3px;
    }
  }

  .boardRow-openIncident {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    // color: red;
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
    transition: height 0.2s;
  }

  .boardRow-openIncident-open {
    /* need a height value for animation to happen 
      for now, automatic sizing is more important
      height: 70px;
    */
    height: auto;
  }
}

.boardComments {
  height: 64vh;
  // background: #fff;
  width: 320px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 144px;
  left: 25px;
  z-index: 100;
  opacity: 0;

  &.open {
    transform: translateX(320px);
    opacity: 1;
  }

  .post-wrapper {
    min-width: 330px;
    width: 100%;
    overflow-y: scroll;
    height: 64vh;
  }

  .post {
    background-color: white;
    position: relative;
    min-height: 100px;
    border: 1px solid gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .post-info {
    position: relative;
    padding: 10px;

    .avatar {
      position: relative;
      float: left;
      width: 50px;
      height: 50px;
      background-color: #365899;
      border-radius: 50%;
    }

    .metadata {
      position: relative;
      padding-left: 60px;
      font-family: sans-serif;

      .account {
        color: #365899;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.38;
      }

      .time {
        color: #90949c;
        font-weight: normal;
        font-size: 12px;
      }
    }
  }

  .post-body {
    padding: 6px 10px 0px 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;

    
    p {
      font-family: sans-serif;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 12px;
      color: #000;
      // display: inline;
    }
  }

  .bogus-padding {
    // padding: 10px;
    // width: 100%;
  }

  .postCommentWrapper {
    padding: 10px;
    color: $black;
    background-color: #f6f7f9;
  }

  .postComment {
    // padding-top: 5px;
    width: auto;
    display: table;
    background-color: white;
    font-family: sans-serif;
    margin: 0px 0px 10px 0px;
    border-radius: 25px;

    p {
      padding: 0px 10px;
      font-size: 13px;
    }
  }
}

////////////////////////////////
///////// START INFO ///////////
////////////////////////////////

.startInfo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;

  &.hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

.startInfo {
  position: relative;
  background-color: $ig-black;
  padding: 25px;
  width: 600px;
  transition: opacity 0.5ss ease-in-out;
  opacity: 1;
  visibility: visible;

  &.hide {
    opacity: 0;
    visibility: hidden; 
    z-index: -1;
  }

  p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: $white;
    font-family: "AGaramondPro-Regular", "Georgia", serif;
  }

  .startCallout {
    color: $flintRed;
    font-family: 'fgcm', helvetica, sans-serif;
    font-size: 1.3em;
  }
}

////////////////////////////////
////////// TIMELINE ////////////
////////////////////////////////

.timeOutput {
  width: 140px;
  padding: 5px 12px;
  color: $white;
  font-size: 1em;
  font-family: courier, monospace;
  position: absolute;
  top: 0;
  left: 0;

  .time {
    font-size: 1.3em;
  }

  .day {
    font-size: 1.1em;
  }
}

.Timeline {
  position: absolute;
  width: 100vw;
  bottom: 0;
  z-index: 60;
  padding-top: 1vh;
  /* height: 17vh; */
  background-color: #222;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible; 
  }
}

.PlaybackControls {
  position: absolute;
  bottom: 0px;
  height: 6vh;
  // float: left;
  // width: $icon-size*2;
  padding-left: 10px;
}

.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
  margin-right: 10px;
  padding: 8px;
  background: $white;
  border: 2px solid $flintRed;
  border-radius: 100%;
  outline: none;

  &[disabled] {
    opacity: 0.5;
  }

  &.isEnabled {
    cursor: pointer;

    &:hover {
      border-color: $color-hover;

      .Icon-shape {
        fill: $color-hover;
      }
    }

    &:active {
      border-color: $color-active;

      .Icon-shape {
        fill: $color-active;
      }
    }
  }
}

.Icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
}

.Icon-shape {
  fill: $flintRed;
}


///////////////////////////////////////
//////////////// SLIDERS //////////////
///////////////////////////////////////

.ProgressBar {
  position: relative;
  background: $white;
  border-radius: 4px;

  &-elapsed,
  &-value {
    background: $gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $flintRed;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        position: absolute;
        background: rgba(0,0,0,0.05);
      }
    }

    .ProgressBar-elapsed {
      background: $flintRed;
    }
  }
}

.ProgressBar {
  // height: 8px;
  // margin: 18px 5px 19px 60px;
  height: 8px;
  width: auto;
  bottom: 25px;
  margin: 0px 0px 0px $controls-width;

  &-elapsed {
    height: 100%;
  }

  &-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
  }

  &-handle {
    top: 0;
    margin: -4px 0 0 -8px;
  }

  &.isSeekable {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite;
  }
}

///////////////////////////////////////
///////////// GRAPH AREA //////////////
///////////////////////////////////////

.GraphArea {
  // margin: 0px 5px -15px $controls-width;
  position: relative;
  height: 16vh;

  .bar {
    // fill: $flintRed;
  }

  .axis {
    color: $white;

    .domain, .tick line {
      stroke: $white;
    }

    .tick text {
      fill: $white;
    }
  }

  .graphWrapper {
    position: absolute;
    top: 0px;
    left: $controls-width;
    right: 0px;

    .svgLayer {
      fill: #0084ff;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    canvas {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
    }
  }

  .currentTimeLine {
    stroke: $white;
    stroke-width: 2;
  }
}

///////////////////////////////////////
///////////// LIGHT BOX ///////////////
///////////////////////////////////////

.lightBox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  cursor: pointer;
  background: $ig-background-black;

}

.Gallery {

}
.image-gallery {
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
}

.image-gallery-content {
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 95vh;
  width: 90vw;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: auto;
}

.image-gallery-slide {
  background: $ig-black;
}

.nav-wrapper {
  width: 90vw;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  position: absolute;
  width: 35vw;
  height: 90vh;
  top: 5vh;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  z-index: 4;
  color: $ig-white;
  font-size: 5em;

  &[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none;
  }
}

.image-gallery-left-nav {
  left: 5vw;

  &:hover span {
    visibility: visible;
  }

  span {
    top: 40vh;
    left: 5vw;
    position: absolute;
    visibility: hidden;
  }
}

.image-gallery-right-nav {
  right: 5vw;

  &:hover span {
    visibility: visible;
  }

  span {
    top: 40vh;
    right: 5vw;
    position: absolute;
    visibility: hidden;
  }
}

.image-gallery-close {
  font-size: 3rem;
  background: rgba(0,0,0,0.1);
  color: rgba(255, 255, 255, 0.8);
  line-height: 60px;
  width: 60px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  font-family: Arial,sans-serif;
  border: 0;
  padding: 0;

  &:hover {
    background: rgba(0,0,0,0.2);
  }
}

.image-gallery-slide {
  background: $ig-background-black;

  .image-gallery-item {
    // display: grid;

    .image-wrapper {
      background: $ig-background-black;
      max-height: 95vh;
      max-width: 95vw;
      white-space: nowrap;
      margin: 0 auto;

      &.center {
        // position: relative;
      }

      img {
        width: 100%;
        object-fit: contain;
        max-width: inherit;
        max-height: inherit;
        vertical-align: middle;
      }
    }

    .text-wrapper {
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .image-gallery-description {
        background: $ig-background-black;
        width: 55vw;
        color: $ig-white;
        left: 0;
        line-height: 2;
        padding: 10px 20px;
        font-family: AGaramondPro-Regular;
        font-size: 1.8rem;
      }
    }

    .link-wrapper {
      height: 90vh;
      background: $ig-background-black;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 2;
      padding: 10px 20px;
      white-space: normal;
      font-family: fgcl;
      font-size: 1.8rem;

      a {
        color: $ig-white;
        max-width: 55vw;
      }
    }
  }
}

///////////////////////////////////////
//////////// CONTROL PANEL ////////////
///////////////////////////////////////

.ControlPanel {
  width: 20vw;
  min-width: 210px;
  min-height: 100px;
  position: absolute;
  right: 10px;  
  transition: opacity 1s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible; 
  }

  .buttonLayer {
    padding: 10px 0px;
  }
}

.Dropdown-menu {
  max-height: 310px;
}

.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: $flintRed;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: $flintRed;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $flintRedDarker;
}
//   .incident-photo-toggle-container {
//     min-width: 150px;
//     width: 20vw;
//     max-width: 200px;
//     height: 50px;
//     line-height: 50px;
//     background-color: #ddd;
//     position: absolute;
//     top: 0%;
//     transform: translate(0%, 0%);
//     left: 0%;
//     background-color: #e8e8e8;
//     // border:1px solid #ccc;
//     overflow: hidden;
//     border-radius: 30px;
//     box-shadow: 0 0 8px rgba(0,0,0,0.1) inset;

//     & label {
//       width: 50%;
//       float: left;
//       background-color: transparent;
//       color: #333;
//       z-index: 2;
//       cursor: pointer;
//     }

//     & input[type="radio"] {
//       display: none;
//     }

//     .button-slider {
//       position:absolute;
//       left: 0%; 
//       top:0;
//       width:50%; 
//       height: 100%;
//       animation-timing-function: ease-in-out;
//       animation-duration:.3s;
//       animation-fill-mode: forwards;
//       transition: 0.2s left .05s ease-in-out;
//       z-index: -1;
//     }

//     .left-button:checked  ~ .button-slider { 
//       left:0;
//       background-color:#FB3F48;
//       box-shadow: 0 0 10px rgba(0,0,0,0.5);
//     }

//     .right-button:checked  ~ .button-slider {
//       left:50%;
//       background-color: #FB3F48;
//       box-shadow: 0 0 10px rgba(0,0,0,0.5);
//     }

//     .left-button:checked ~ label, 
//     .right-button:checked ~ label {
//       font-weight: 700;
//       color: #fff;
//     }
//     .right-button:not(:checked) ~ label {
//       color: #333;
//       font-weight: 400
//     }
//   }
// }


