$black: #3D463F;
$gray: #878C88;
$white: #fefefe;
$blue: #0E52CE;
$green: #72D687;
$flintRed: #FB3F48;

$icon-size: 20px;

$color-hover: saturate(lighten($flintRed, 10%), 20%);
$color-active: desaturate(darken($flintRed, 20%), 20%);

// $color-hover: desaturate(darken($flintRed, 20%), 10%);
// $color-active: fade-out($color-hover, 0.5);

$type-col-width: 25%;
$priority-col-width: 15%;
$active-col-width: 20%;
$status-col-width: 25%;
$posts-col-width: 15%;

.App {

}

.App-header {
  background-color: #222;
  height: 6vh;
  margin: 10px;
  color: white;

  .Nav {
    float: right;
    width: 30vw;
    margin: 5px;

    a {
      color: $white;
      padding-right: 10px;
    }
  }
}

.App-title {
  font-size: 1.5em;
  font-family: "fgcm", "Helvetica", sans-serif;
  /*color: #fb3f48;*/
  color: $white;
  font-size: 2rem;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  left: 20px;
}

.App-intro {
  font-size: large;
}

.Map {
  position: absolute;
  width: 100%;
  top: 6vh;
  height: 80vh;
/*  bottom: 0;*/
}

.Board {
  position: absolute;
  // width: 40vw;
  min-height: 100px;
  // height: 85vh;
  max-height: 73vh;
  min-width: 330px;
  width: 360px;
  overflow-y: scroll;
  background-color: rgba(247, 247, 247, 0.8);
  top: 50px;
  font-size: 0.8em;

  .boardHeader {
  width: 100%;
}

  .boardContent {
    width: 100%;
  }

  .boardHeader {
    padding: 10px;
    display: flex;
    width: 100%;
  }

  .boardHeader-type {
    width: $type-col-width;
    display: flex;
  }

  .boardHeader-priority {
    width: $priority-col-width;
    display: flex;
  }

  .boardHeader-activeTime {
    width: $active-col-width;
    display: flex;
  }

  .boardHeader-status {
    width: $status-col-width;
    display: flex;
  }

  .boardHeader-expander {
    width: $posts-col-width;
    display: flex;
  }

  .boardRow {
    padding: 10px;
    display: flex;
    width: 100%
  }

  .highlight {
    background: rgba(0,0,0,0.05);
    cursor: pointer;
  }

  .boardWrapper:nth-child(even) {
    background: #ccc;
  }

  .boardWrapper:nth-child(odd) {
    background: #fff;
  }

  .boardRow-type {
    width: $type-col-width;
    display: flex;
  }

  .boardRow-priority {
    width: $priority-col-width;
    display: flex;
  }

  .boardRow-activeTime {
    width: $active-col-width;
    display: flex;
  }

  .boardRow-status {
    width: $status-col-width;
    display: flex;
  }

  .boardRow-expander {
    width: $posts-col-width;
    display: flex;

    span {
      width: 30px;
      display: inline-block;
    }
  }

  .boardRow-openIncident {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    // color: red;
    display: flex;
    overflow: hidden;
    transition: height 0.2s;
  }

  .boardRow-openIncident-open {
    /* need a height value for animation to happen 
      for now, automatic sizing is more important
      height: 70px;
    */

    height: auto;
  }

  .bogus-padding {
    padding: 10px;
    // width: 100%;
  }

  .postCommentWrapper {
    padding: 10px;
  }

  .postComment {
    padding-top: 5px;
  }


}

////////////////////////////////
////////// TIMELINE ////////////
////////////////////////////////

.timeOutput {
  padding: 5px;
  color: $white;
  font-size: 1em;
  font-family: courier, monospace;
  position: absolute;
  top: 0;
  left: 0;
}

.Timeline {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.PlaybackControls {
  position: absolute;
  bottom: -4px;
  height: 6vh;
  // float: left;
  width: $icon-size*2;
  padding-left: 10px;
}

.PlayButton,
.PauseButton {
  margin-right: 10px;
  padding: 8px;
  background: $white;
  border: 2px solid $flintRed;
  border-radius: 100%;
  outline: none;

  &[disabled] {
    opacity: 0.5;
  }

  &.isEnabled {
    cursor: pointer;

    &:hover {
      border-color: $color-hover;

      .Icon-shape {
        fill: $color-hover;
      }
    }

    &:active {
      border-color: $color-active;

      .Icon-shape {
        fill: $color-active;
      }
    }
  }
}

.Icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
}

.Icon-shape {
  fill: $flintRed;
}


//
// Sliders
//

.ProgressBar {
  position: relative;
  background: #eee;
  border-radius: 4px;

  &-elapsed,
  &-value {
    background: $gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $flintRed;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        position: absolute;
        background: rgba(0,0,0,0.05);
      }
    }

    .ProgressBar-elapsed {
      background: $flintRed;
    }
  }
}

.ProgressBar {
  height: 8px;
  margin: 18px 5px 19px 60px;

  &-elapsed {
    height: 100%;
  }

  &-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
  }

  &-handle {
    top: 0;
    margin: -4px 0 0 -8px;
  }

  &.isSeekable {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite;
  }
}

////////// GRAPH AREA //////////////

.GraphArea {
  margin: 20px 5px -15px 60px;
  height: 8vh;

  .bar {
    fill: $flintRed;
  }
}
