.App-header {
  background-color: #222;
  height: 6vh;
  color: white; }
  .App-header .Nav {
    float: right;
    width: 30vw;
    margin: 10px; }
    .App-header .Nav a {
      color: #7d7b7b;
      padding-right: 10px; }

.App-title {
  font-size: 1.5em;
  font-family: "fgcm", "Helvetica", sans-serif;
  /*color: #fb3f48;*/
  color: #7d7b7b;
  font-size: 2rem;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  left: 20px; }

.App-intro {
  font-size: large; }

.Map {
  position: absolute;
  width: 100%;
  top: 6vh;
  height: 80vh;
  /*  bottom: 0;*/ }

.mapboxgl-ctrl-bottom-left {
  display: none; }

.Board {
  position: relative;
  height: 80vh;
  min-width: 330px;
  width: 360px;
  overflow-y: scroll;
  background-color: rgba(24, 24, 24, 0.8);
  color: #fff;
  /* top: 50px; */
  font-size: 0.8em;
  display: flex;
  flex-direction: column; }
  .Board .boardDescription {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    font-family: fgcl;
    font-size: 1rem; }
  .Board .boardContent {
    width: 100%;
    flex: 1;
    overflow: auto; }
  .Board .boardColumn {
    padding: 0px 10px; }
  .Board .boardHeader {
    padding: 5px 0px;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #181818; }
  .Board .boardColumn-type {
    width: 25%;
    display: flex; }
  .Board .boardColumn-priority {
    width: 15%;
    display: flex; }
  .Board .boardColumn-activeTime {
    width: 20%;
    display: flex; }
  .Board .boardColumn-status {
    width: 28%;
    display: flex; }
  .Board .boardColumn-expander {
    width: 12%;
    display: flex; }
  .Board .boardRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    width: 100%; }
  .Board .highlight {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .Board .boardWrapper:nth-child(even) {
    background: #616161; }
  .Board .boardWrapper:nth-child(odd) {
    background: #444; }
  .Board .boardRow-type {
    width: 25%;
    display: flex; }
  .Board .boardRow-priority {
    width: 15%;
    display: flex; }
  .Board .boardRow-activeTime {
    width: 20%;
    display: flex; }
  .Board .boardRow-status {
    width: 28%;
    display: flex; }
  .Board .boardRow-expander {
    width: 12%;
    display: flex; }
    .Board .boardRow-expander span {
      width: 30px;
      display: inline-block; }
  .Board .boardRow-openIncident {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    display: flex;
    overflow: hidden;
    transition: height 0.2s; }
  .Board .boardRow-openIncident-open {
    /* need a height value for animation to happen 
      for now, automatic sizing is more important
      height: 70px;
    */
    height: auto; }
  .Board .bogus-padding {
    padding: 10px; }
  .Board .postCommentWrapper {
    padding: 10px; }
  .Board .postComment {
    padding-top: 5px; }

.timeOutput {
  padding: 5px;
  color: #7d7b7b;
  font-size: 1em;
  font-family: courier, monospace;
  position: absolute;
  top: 0;
  left: 0; }

.Timeline {
  position: absolute;
  width: 100vw;
  bottom: 0; }

.PlaybackControls {
  position: absolute;
  bottom: -4px;
  height: 6vh;
  width: 40px;
  padding-left: 10px; }

.PlayButton,
.PauseButton {
  margin-right: 10px;
  padding: 8px;
  background: #7d7b7b;
  border: 2px solid #FB3F48;
  border-radius: 100%;
  outline: none; }
  .PlayButton[disabled],
  .PauseButton[disabled] {
    opacity: 0.5; }
  .PlayButton.isEnabled,
  .PauseButton.isEnabled {
    cursor: pointer; }
    .PlayButton.isEnabled:hover,
    .PauseButton.isEnabled:hover {
      border-color: #ff6e75; }
      .PlayButton.isEnabled:hover .Icon-shape,
      .PauseButton.isEnabled:hover .Icon-shape {
        fill: #ff6e75; }
    .PlayButton.isEnabled:active,
    .PauseButton.isEnabled:active {
      border-color: #ba1a21; }
      .PlayButton.isEnabled:active .Icon-shape,
      .PauseButton.isEnabled:active .Icon-shape {
        fill: #ba1a21; }

.Icon {
  display: block;
  width: 20px;
  height: 20px; }

.Icon-shape {
  fill: #FB3F48; }

.ProgressBar {
  position: relative;
  background: #7d7b7b;
  border-radius: 4px; }
  .ProgressBar-elapsed, .ProgressBar-value {
    background: #878C88;
    border-radius: 4px; }
  .ProgressBar-seek {
    position: absolute;
    cursor: pointer; }
  .ProgressBar-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FB3F48;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s; }
  .ProgressBar.isSeekable:hover .ProgressBar-handle, .ProgressBar.isEnabled:hover .ProgressBar-handle {
    transform: scale(1); }
  .ProgressBar.isSeekable:hover .ProgressBar-intent, .ProgressBar.isEnabled:hover .ProgressBar-intent {
    position: absolute;
    background: rgba(0, 0, 0, 0.05); }
  .ProgressBar.isSeekable .ProgressBar-elapsed, .ProgressBar.isEnabled .ProgressBar-elapsed {
    background: #FB3F48; }

.ProgressBar {
  height: 8px;
  margin: 18px 5px 19px 60px; }
  .ProgressBar-elapsed {
    height: 100%; }
  .ProgressBar-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0; }
  .ProgressBar-handle {
    top: 0;
    margin: -4px 0 0 -8px; }
  .ProgressBar.isSeekable:hover .ProgressBar-handle {
    transform: scale(1); }
  .ProgressBar.isSeekable:hover .ProgressBar-intent {
    top: 0;
    left: 0;
    height: 100%; }
  .ProgressBar.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite; }

.GraphArea {
  margin: 20px 5px -15px 60px;
  height: 8vh; }
  .GraphArea .bar {
    fill: #FB3F48; }

.lightBox-wrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8); }

.image-gallery {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-gallery-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 25px 25px 0;
  border-bottom: 25px solid transparent;
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 95vh;
  height: 95vh;
  width: 90vw;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: auto;
  white-space: normal; }

.image-gallery-slide {
  background: #000; }

.image-gallery-slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.image-gallery-left-nav,
.image-gallery-right-nav {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  color: #fff;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  position: absolute;
  text-align: center; }
  .image-gallery-left-nav[disabled],
  .image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }

.image-gallery-left-nav {
  left: 0; }

.image-gallery-right-nav {
  right: 0; }

.image-gallery-close {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  line-height: 60px;
  width: 60px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  font-family: Arial,sans-serif;
  border: 0;
  padding: 0; }
  .image-gallery-close:hover {
    background: rgba(0, 0, 0, 0.2); }

.image-gallery-slides {
  line-height: 0;
  position: relative;
  white-space: nowrap; }

.image-gallery-slide {
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .image-gallery-slide .image-gallery-item {
    display: grid; }
    .image-gallery-slide .image-gallery-item .image-wrapper {
      background: rgba(0, 0, 0, 0.8);
      position: relative;
      text-align: left;
      vertical-align: middle;
      display: inline-block;
      overflow: auto;
      cursor: auto;
      white-space: normal;
      object-fit: contain; }
      .image-gallery-slide .image-gallery-item .image-wrapper.center {
        position: relative; }
      .image-gallery-slide .image-gallery-item .image-wrapper img {
        width: 100%; }
    .image-gallery-slide .image-gallery-item .text-wrapper {
      height: 90vh; }
      .image-gallery-slide .image-gallery-item .text-wrapper .image-gallery-description {
        background: rgba(0, 0, 0, 0.8);
        bottom: auto;
        top: 25vh;
        position: relative;
        width: 55vw;
        margin: 0 auto;
        color: #fff;
        left: 0;
        line-height: 2;
        padding: 10px 20px;
        white-space: normal;
        font-family: AGaramondPro-Regular;
        font-size: 1.8rem; }
    .image-gallery-slide .image-gallery-item .link-wrapper {
      background: rgba(0, 0, 0, 0.8);
      bottom: auto;
      top: 25vh;
      position: relative;
      width: 55vw;
      margin: 0 auto;
      left: 0;
      line-height: 2;
      padding: 10px 20px;
      white-space: normal;
      font-family: fgcl;
      font-size: 1.8rem; }
      .image-gallery-slide .image-gallery-item .link-wrapper a {
        color: #fff; }

.ControlPanel {
  width: 30vw;
  min-height: 100px;
  position: relative;
  float: right;
  background-color: gray; }
  .ControlPanel .toggle-wrapper {
    margin: 0.5em auto; }
  .ControlPanel .toggle-wrapper label {
    padding: 0.3em;
    font-size: 17px;
    display: block; }
  .ControlPanel .toggleContainer {
    width: 100%;
    position: relative;
    background: #ffffff;
    border: 1px solid #eeeeee; }
  .ControlPanel .toggleContainer .toggleOption {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #807b77;
    font-size: 1em; }
  .ControlPanel .toggleContainer .toggleOption.selected {
    color: #ffffff;
    cursor: initial; }
  .ControlPanel .toggleContainer .toggle {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    background: #df5d5d; }
  .ControlPanel .optionDisabled {
    background: #e6e6e6;
    cursor: no-drop !important; }
  .ControlPanel .incident-photo-toggle-container {
    min-width: 150px;
    width: 20vw;
    max-width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #ddd;
    position: absolute;
    top: 0%;
    transform: translate(0%, 0%);
    left: 0%;
    background-color: #e8e8e8;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) inset; }
    .ControlPanel .incident-photo-toggle-container label {
      width: 50%;
      float: left;
      background-color: transparent;
      color: #333;
      z-index: 2;
      cursor: pointer; }
    .ControlPanel .incident-photo-toggle-container input[type="radio"] {
      display: none; }
    .ControlPanel .incident-photo-toggle-container .button-slider {
      position: absolute;
      left: 0%;
      top: 0;
      width: 50%;
      height: 100%;
      animation-timing-function: ease-in-out;
      animation-duration: .3s;
      animation-fill-mode: forwards;
      transition: 0.2s left .05s ease-in-out;
      z-index: -1; }
    .ControlPanel .incident-photo-toggle-container .left-button:checked ~ .button-slider {
      left: 0;
      background-color: #FB3F48;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .ControlPanel .incident-photo-toggle-container .right-button:checked ~ .button-slider {
      left: 50%;
      background-color: #FB3F48;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .ControlPanel .incident-photo-toggle-container .left-button:checked ~ label,
    .ControlPanel .incident-photo-toggle-container .right-button:checked ~ label {
      font-weight: 700;
      color: #fff; }
    .ControlPanel .incident-photo-toggle-container .right-button:not(:checked) ~ label {
      color: #333;
      font-weight: 400; }

@font-face {
  font-family: "AGaramondPro-Regular";
  src: url("fonts/AGaramondPro-Regular.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "fgcl";
  src: url("fonts/FoundersGroteskCondensedWeb-Light.eot");
  src: url("fonts/FoundersGroteskCondensedWeb-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGroteskCondensedWeb-Light.woff2") format("woff2"), url("fonts/FoundersGroteskCondensedWeb-Light.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "fgcm";
  src: url("fonts/FoundersGroteskCondensedWeb-Medium.eot");
  src: url("fonts/FoundersGroteskCondensedWeb-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGroteskCondensedWeb-Medium.woff2") format("woff2"), url("fonts/FoundersGroteskCondensedWeb-Medium.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'dhw';
  src: url("fonts/Druk-Heavy-Web.eot");
  src: url("fonts/Druk-Heavy-Web.eot?#iefix") format("embedded-opentype"), url("fonts/Druk-Heavy-Web.woff2") format("woff2"), url("fonts/Druk-Heavy-Web.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222; }

html, body, #map {
  height: 100%;
  width: 100%; }
