.App-header {
  background-color: #222;
  height: 6vh;
  color: white; }
  .App-header .Nav {
    float: right;
    width: 30vw;
    margin: 10px;
    text-align: right; }
    .App-header .Nav a {
      color: #7d7b7b;
      padding-right: 10px; }

.App-title {
  font-size: 1.5em;
  font-family: "fgcm", "Helvetica", sans-serif;
  /*color: #fb3f48;*/
  color: #7d7b7b;
  font-size: 2rem;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  left: 20px; }

.App-intro {
  font-size: large; }

.Map {
  position: absolute;
  width: 100%;
  top: 6vh;
  height: 76vh;
  /*  bottom: 0;*/ }

.mapboxgl-ctrl-bottom-left {
  display: none; }

.Board {
  position: relative;
  height: 76vh;
  min-width: 330px;
  width: 345px;
  overflow-y: scroll;
  background-color: rgba(24, 24, 24, 0.8);
  color: #fff;
  /* top: 50px; */
  font-size: 0.8em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  z-index: 200; }
  .Board .boardDescription {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    font-family: fgcl;
    font-size: 1rem; }
  .Board .boardContent {
    width: 100%;
    flex: 1;
    -webkit-flex: 1;
    overflow: auto; }
  .Board .boardColumn {
    padding: 0px 10px; }
  .Board .boardHeader {
    padding: 5px 0px;
    font-weight: bold;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    align-items: center;
    background-color: #181818; }
  .Board .boardColumn-type {
    width: 25%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardColumn-priority {
    width: 15%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardColumn-activeTime {
    width: 20%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardColumn-status {
    width: 28%;
    display: flex;
    display: -webkit-flex;
    height: 15px; }
  .Board .boardColumn-expander {
    width: 12%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardRow {
    padding: 10px 0px 10px 0px;
    display: flex;
    display: -webkit-flex;
    width: 100%; }
  .Board .highlight {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .Board .boardWrapper {
    height: 35px; }
  .Board .boardWrapper:nth-child(even) {
    background: #616161; }
  .Board .boardWrapper:nth-child(odd) {
    background: #444; }
  .Board .boardRow-type {
    width: 25%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardRow-priority {
    width: 15%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardRow-activeTime {
    width: 20%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardRow-status {
    width: 28%;
    display: flex;
    display: -webkit-flex; }
  .Board .boardRow-expander {
    width: 12%;
    display: flex;
    display: -webkit-flex; }
    .Board .boardRow-expander span {
      width: 30px;
      display: inline-block; }
    .Board .boardRow-expander .badge-wrapper {
      width: 6em; }
    .Board .boardRow-expander .likesBadge {
      font-size: 0.8em;
      display: inline-block;
      position: relative;
      transform: translate(-5px, -13px);
      color: #fff;
      background: rgba(255, 255, 255, 0.1);
      padding: 2px;
      border-radius: 3px; }
  .Board .boardRow-openIncident {
    box-sizing: border-box;
    width: 100%;
    height: 0px;
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
    transition: height 0.2s; }
  .Board .boardRow-openIncident-open {
    /* need a height value for animation to happen 
      for now, automatic sizing is more important
      height: 70px;
    */
    height: auto; }

.boardComments {
  height: 64vh;
  width: 320px;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 144px;
  left: 25px;
  z-index: 100;
  opacity: 0; }
  .boardComments.open {
    transform: translateX(320px);
    opacity: 1; }
  .boardComments .post-wrapper {
    min-width: 330px;
    width: 100%;
    overflow-y: scroll;
    height: 64vh; }
  .boardComments .post {
    background-color: white;
    position: relative;
    min-height: 100px;
    border: 1px solid gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .boardComments .post-info {
    position: relative;
    padding: 10px; }
    .boardComments .post-info .avatar {
      position: relative;
      float: left;
      width: 50px;
      height: 50px;
      background-color: #365899;
      border-radius: 50%; }
    .boardComments .post-info .metadata {
      position: relative;
      padding-left: 60px;
      font-family: sans-serif; }
      .boardComments .post-info .metadata .account {
        color: #365899;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.38; }
      .boardComments .post-info .metadata .time {
        color: #90949c;
        font-weight: normal;
        font-size: 12px; }
  .boardComments .post-body {
    padding: 6px 10px 0px 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38; }
    .boardComments .post-body p {
      font-family: sans-serif;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 12px;
      color: #000; }
  .boardComments .postCommentWrapper {
    padding: 10px;
    color: #3D463F;
    background-color: #f6f7f9; }
  .boardComments .postComment {
    width: auto;
    display: table;
    background-color: white;
    font-family: sans-serif;
    margin: 0px 0px 10px 0px;
    border-radius: 25px; }
    .boardComments .postComment p {
      padding: 0px 10px;
      font-size: 13px; }

.timeOutput {
  width: 140px;
  padding: 0px 5px;
  color: #7d7b7b;
  font-size: 1em;
  font-family: courier, monospace;
  position: absolute;
  top: 0;
  left: 0; }
  .timeOutput .time {
    font-size: 1.3em; }
  .timeOutput .day {
    font-size: 1.1em; }

.Timeline {
  position: absolute;
  width: 100vw;
  bottom: 0;
  z-index: 600;
  /* height: 17vh; */
  background-color: #222; }

.PlaybackControls {
  position: absolute;
  bottom: 0px;
  height: 6vh;
  padding-left: 10px; }

.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
  margin-right: 10px;
  padding: 8px;
  background: #7d7b7b;
  border: 2px solid #FB3F48;
  border-radius: 100%;
  outline: none; }
  .PlayButton[disabled],
  .PauseButton[disabled],
  .PrevButton[disabled],
  .NextButton[disabled],
  .SoundOnButton[disabled],
  .SoundOffButton[disabled] {
    opacity: 0.5; }
  .PlayButton.isEnabled,
  .PauseButton.isEnabled,
  .PrevButton.isEnabled,
  .NextButton.isEnabled,
  .SoundOnButton.isEnabled,
  .SoundOffButton.isEnabled {
    cursor: pointer; }
    .PlayButton.isEnabled:hover,
    .PauseButton.isEnabled:hover,
    .PrevButton.isEnabled:hover,
    .NextButton.isEnabled:hover,
    .SoundOnButton.isEnabled:hover,
    .SoundOffButton.isEnabled:hover {
      border-color: #ff6e75; }
      .PlayButton.isEnabled:hover .Icon-shape,
      .PauseButton.isEnabled:hover .Icon-shape,
      .PrevButton.isEnabled:hover .Icon-shape,
      .NextButton.isEnabled:hover .Icon-shape,
      .SoundOnButton.isEnabled:hover .Icon-shape,
      .SoundOffButton.isEnabled:hover .Icon-shape {
        fill: #ff6e75; }
    .PlayButton.isEnabled:active,
    .PauseButton.isEnabled:active,
    .PrevButton.isEnabled:active,
    .NextButton.isEnabled:active,
    .SoundOnButton.isEnabled:active,
    .SoundOffButton.isEnabled:active {
      border-color: #ba1a21; }
      .PlayButton.isEnabled:active .Icon-shape,
      .PauseButton.isEnabled:active .Icon-shape,
      .PrevButton.isEnabled:active .Icon-shape,
      .NextButton.isEnabled:active .Icon-shape,
      .SoundOnButton.isEnabled:active .Icon-shape,
      .SoundOffButton.isEnabled:active .Icon-shape {
        fill: #ba1a21; }

.Icon {
  display: block;
  width: 20px;
  height: 20px; }

.Icon-shape {
  fill: #FB3F48; }

.ProgressBar {
  position: relative;
  background: #7d7b7b;
  border-radius: 4px; }
  .ProgressBar-elapsed, .ProgressBar-value {
    background: #878C88;
    border-radius: 4px; }
  .ProgressBar-seek {
    position: absolute;
    cursor: pointer; }
  .ProgressBar-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FB3F48;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s; }
  .ProgressBar.isSeekable:hover .ProgressBar-handle, .ProgressBar.isEnabled:hover .ProgressBar-handle {
    transform: scale(1); }
  .ProgressBar.isSeekable:hover .ProgressBar-intent, .ProgressBar.isEnabled:hover .ProgressBar-intent {
    position: absolute;
    background: rgba(0, 0, 0, 0.05); }
  .ProgressBar.isSeekable .ProgressBar-elapsed, .ProgressBar.isEnabled .ProgressBar-elapsed {
    background: #FB3F48; }

.ProgressBar {
  height: 8px;
  width: auto;
  bottom: 25px;
  margin: 0px 0px 0px 160px; }
  .ProgressBar-elapsed {
    height: 100%; }
  .ProgressBar-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0; }
  .ProgressBar-handle {
    top: 0;
    margin: -4px 0 0 -8px; }
  .ProgressBar.isSeekable:hover .ProgressBar-handle {
    transform: scale(1); }
  .ProgressBar.isSeekable:hover .ProgressBar-intent {
    top: 0;
    left: 0;
    height: 100%; }
  .ProgressBar.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite; }

.GraphArea {
  position: relative;
  height: 16vh; }
  .GraphArea .axis {
    color: #7d7b7b; }
    .GraphArea .axis .domain, .GraphArea .axis .tick line {
      stroke: #7d7b7b; }
    .GraphArea .axis .tick text {
      fill: #7d7b7b; }
  .GraphArea .graphWrapper {
    position: absolute;
    top: 0px;
    left: 160px;
    right: 0px; }
    .GraphArea .graphWrapper .svgLayer {
      fill: #0084ff;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px; }
    .GraphArea .graphWrapper canvas {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px; }
  .GraphArea .currentTimeLine {
    stroke: #7d7b7b;
    stroke-width: 2; }

.lightBox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.85); }

.image-gallery-content {
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 95vh;
  width: 90vw;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: auto; }

.image-gallery-slide {
  background: #000; }

.nav-wrapper {
  width: 90vw; }

.image-gallery-left-nav,
.image-gallery-right-nav {
  position: absolute;
  width: 35vw;
  height: 90vh;
  top: 5vh;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  z-index: 4;
  color: #fff;
  font-size: 5em; }
  .image-gallery-left-nav[disabled],
  .image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }

.image-gallery-left-nav {
  left: 5vw; }
  .image-gallery-left-nav:hover span {
    visibility: visible; }
  .image-gallery-left-nav span {
    top: 40vh;
    left: 5vw;
    position: absolute;
    visibility: hidden; }

.image-gallery-right-nav {
  right: 5vw; }
  .image-gallery-right-nav:hover span {
    visibility: visible; }
  .image-gallery-right-nav span {
    top: 40vh;
    right: 5vw;
    position: absolute;
    visibility: hidden; }

.image-gallery-close {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  line-height: 60px;
  width: 60px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  font-family: Arial,sans-serif;
  border: 0;
  padding: 0; }
  .image-gallery-close:hover {
    background: rgba(0, 0, 0, 0.2); }

.image-gallery-slide {
  background: rgba(0, 0, 0, 0.85); }
  .image-gallery-slide .image-gallery-item .image-wrapper {
    background: rgba(0, 0, 0, 0.85);
    max-height: 95vh;
    max-width: 95vw;
    white-space: nowrap;
    margin: 0 auto; }
    .image-gallery-slide .image-gallery-item .image-wrapper img {
      width: 100%;
      object-fit: contain;
      max-width: inherit;
      max-height: inherit;
      vertical-align: middle; }
  .image-gallery-slide .image-gallery-item .text-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .image-gallery-slide .image-gallery-item .text-wrapper .image-gallery-description {
      background: rgba(0, 0, 0, 0.85);
      width: 55vw;
      color: #fff;
      left: 0;
      line-height: 2;
      padding: 10px 20px;
      font-family: AGaramondPro-Regular;
      font-size: 1.8rem; }
  .image-gallery-slide .image-gallery-item .link-wrapper {
    height: 90vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding: 10px 20px;
    white-space: normal;
    font-family: fgcl;
    font-size: 1.8rem; }
    .image-gallery-slide .image-gallery-item .link-wrapper a {
      color: #fff;
      max-width: 55vw; }

.ControlPanel {
  width: 20vw;
  min-width: 210px;
  min-height: 100px;
  position: absolute;
  right: 10px; }
  .ControlPanel .buttonLayer {
    padding: 10px 0px; }

.Dropdown-menu {
  max-height: 310px; }

.toggle-wrapper {
  margin: 0.5em auto; }

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block; }

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee; }

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #807b77;
  font-size: 1em; }

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial; }

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: #FB3F48; }

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important; }

.react-toggle--checked .react-toggle-track {
  background-color: #FB3F48; }

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #CE2F37; }

@font-face {
  font-family: "AGaramondPro-Regular";
  src: url("fonts/AGaramondPro-Regular.otf") format("opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "fgcl";
  src: url("fonts/FoundersGroteskCondensedWeb-Light.eot");
  src: url("fonts/FoundersGroteskCondensedWeb-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGroteskCondensedWeb-Light.woff2") format("woff2"), url("fonts/FoundersGroteskCondensedWeb-Light.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "fgcm";
  src: url("fonts/FoundersGroteskCondensedWeb-Medium.eot");
  src: url("fonts/FoundersGroteskCondensedWeb-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGroteskCondensedWeb-Medium.woff2") format("woff2"), url("fonts/FoundersGroteskCondensedWeb-Medium.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'dhw';
  src: url("fonts/Druk-Heavy-Web.eot");
  src: url("fonts/Druk-Heavy-Web.eot?#iefix") format("embedded-opentype"), url("fonts/Druk-Heavy-Web.woff2") format("woff2"), url("fonts/Druk-Heavy-Web.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222; }

html, body, #map {
  height: 100%;
  width: 100%; }
